@model Restaurant

@{
    ViewBag.Restaurant = ViewBag.Restaurant;
    ViewBag.Title = "Сайт визитка";
    Layout = "_LayoutSiteCard";
}

<div class="container-fluid">
    @{
        
        await Html.RenderPartialAsync("Partial/BlockCarouselPartial"); // block 1
        await Html.RenderPartialAsync("Partial/BlockOrderPartial"); // block 2
        await Html.RenderPartialAsync("Partial/BlockSpecialDishPartial"); // block 3
        await Html.RenderPartialAsync("Partial/BlockMenuPartial"); // block 4
    }
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=@Model.GoogleMapsApi&callback=initMap&libraries=&v=weekly"></script>
    <script>
        $(document).ready(function (){
            @*По этому скрипту работает карусель акционных блюд*@
            $(".center").slick({
                               dots: true,
                               infinite: true,
                               centerMode: true,
                               slidesToShow: 4,
                               slidesToScroll: 0
                             });
              @*____________________________________________________*@
            
           var contactNumber = $("#contact-number").val();
           $(".contact-number").append(contactNumber).attr("href", `tel:${contactNumber}`);
           
           $("#nav-logo").attr("src", $("#logo").val());
           $('#PhoneNumber').mask("+7 (999) 999-9999");
           getTotal();
           getTotalBookings();
            $('.timepicker').timepicker({ 
               'timeFormat': 'H:i',
               'scrollDefault': 'now',
               'minTime': '10:00',
               'maxTime': '22:00',
               'disableTimeRanges': [
               		['10:00', 'now']
               	]
           });
            $('#totalBooked').text();
            });
       
        function initMap() {
              const address = document.getElementById("address").value;
              const geocoder = new google.maps.Geocoder();
                geocoder.geocode({ address: address }, (results, status) => {
                  if (status === "OK") {
                     const map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 15,
                      center: results[0].geometry.location
                     
                    });
                     new google.maps.Marker({
                         position: results[0].geometry.location,
                         map,
                         title: "Restaurant",
                       });
        
                  } else {
                    alert("Не удалось определить месторасположение объекта: " + status);
                  }
            });
        }
        
        $(".buy").submit(function (event){
            event.preventDefault();
            var form = $(this);
            var id = $(form).attr("id");
            var url = $(form).attr("action");
            var data = $(form).serialize();
            var message = $(`#message-${id}`);
            if ($(`#qty-${id}`).val() != ""){
                $.ajax({
                    url: url,
                    data : data,
                    statusCode: {
                        200: function (){
                            $(message).css("color", "black");
                            $(message).show();
                            $(message).text("Товар добавлен в корзину");
                            setTime(id); 
                            getTotal();
                        }
                    }
                });   
            }
            else{
                $(message).show();
                $(message).css("color", "red");
                $(message).text("Не указано количество");
                setTime(id); 
            }
        });
        
        function setTime(id){
            setTimeout(function (){
                $(`#message-${id}`).hide();
            }, 3000);
        }
        
        function getTotal(){
           $.get('@Url.Action("GetTotal", "Cart")', function (data){              
                $("#total").text(data);
           }) 
        }
        
        function dishDetails(id){
            $.get(`@Url.Action("Details", "Dishes")/?id=${id}`, function(data) {
                $('#details').html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            })
        }
        
        function closeModal() {
            $(".modal").hide();
            $("body").css("overflow", "auto");
        }
        
        function menuDetails(id) {
            $.get(`@Url.Action("Details", "Menu")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            });
        }
        
        function stockDetails(id) {
            $.get(`@Url.Action("Details", "Stocks")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            });
        }
       
        
        function tablesDetails(id) {
            $.get(`@Url.Action("Details", "Tables")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            })
        }
        function tableBooking(id) {
            $.ajax(
            {
              url: '@Url.Action("Book", "Booking")',
              type: 'GET',
              data: {id: id, date:$('input[type=radio][name=date]:checked').val(),
                      timeFrom:$('input[name=timeFrom]').val(), 
                      timeTo:$('input[name=timeTo]').val(),
                      customDate: $('#customDate').val()},
              success: function(data) {
                   $("#details").html(data);
                   $("#modal-details").show();
                   $("#modal-details").css("overflow", "auto");
                        
                   $("body").css("overflow", "hidden");
               }
            })
        }
        function getTotalBookings(){
           $.get('@Url.Action("GetTotal", "Booking")', function (data){              
                $("#totalBooked").text(data);
           }) 
        }
               
        function Book(){
           
           var form = $("#partial-form");
           var url = form.attr("action");
           var data = form.serialize();
            $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function(data){
               
                if (data.status == "success")
                    {
                        $('#book').addClass('d-none');
                        $('.modal-body').html('Спасибо! Ваша заявка принята. Наш менеджер перезвонит Вам для подтверждения брони.')
                        getTotalBookings();
                    }
                else 
                    {
                     $("#details").html(data);
                     $("#modal-details").show();
                     $("#modal-details").css("overflow", "auto");
                          
                     $("body").css("overflow", "hidden");
                    }
                
                },
                error: function (data)
                {
                     $("#details").html(data);
                     $("#modal-details").show();
                     $("#modal-details").css("overflow", "auto");
                          
                     $("body").css("overflow", "hidden");
                  
                   }
            })
            
        }
        
        $('.check-book').change(function (){
            $(".tableState").html("Свободен").addClass("text-success").removeClass("text-danger");
            $(".book-btn").removeAttr("disabled");
            $(".card").removeClass("booked-table");
            var date = $('input[type=radio][name=date]:checked').val();
            if(date == "custom")
            {
                   $("#customDate").removeClass('d-none');
                   $('#customDate').datepicker(
                       {
                       language:'ru',
                       minDate: new Date(),
                       maxDate: '',
                       disableNavWhenOutOfRange: true,
                       }
                   );
                }
                else
                {
                     $("#customDate").addClass('d-none');
                }
            var timeFrom = $('#timeFrom').val();
            var timeTo = $('#timeTo').val();
          
            $.ajax({
            url: `@Url.Action("CheckTableAvailability", "Booking")`,
            type: "GET",
            data: {date: date, customDate: $('#customDate').val(), timeFrom: timeFrom, timeTo: timeTo},
            success: function(data) {
                $.each(data, function()
                {
                    $(`#table-${this}`).addClass("booked-table");
                    $(`#available-${this}`).html("Занят").removeClass("text-success").addClass("text-danger");
                    $(`#book-btn-${this}`).attr("disabled", "disabled");
                })      
                  
              }
            })
        })
        
        $('#timeTo').click(function ()
        {
            var from = $('#timeFrom').val();
            var time = from.split(":");
            var toHours = parseInt(time[0]) + 1;
            var toMins = parseInt(time[1]) + 29;
            
            $('#timeTo').timepicker('option',{   
                'timeFormat': 'H:i',
                'scrollDefault': 'now',
                'minTime': '10:00',
                'maxTime': '22:00',
                'disableTimeRanges': [
                    [from, `${toHours}:${toMins}`]
                ]
            });
        })
        
    </script>
}
