@{
    ViewBag.Title = "Сайт визитка";
    Layout = "_BusinessCardLayout";
}

<div class="container">
    <div class="row">
        <div class="heading-block-business-card">
            <h2 class="heading-text">Имя ресторана</h2>
            <h5 class="heading-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</h5>
        </div>
    </div>
    <div class="row" style="margin: 50px 0 0 0;">
        <div class="col-sm-2 mb-3">
            <img class="stock-img" src="~/images/example/Без названия.jpg" alt="">
        </div>
        <div class="col-sm-2 mb-3">
            <img class="stock-img" src="~/images/example/file.png" alt="">
        </div>
    </div>
    <hr>
    <div style="text-align: center; margin-top: 30px;">
        <h2>Меню</h2>
    </div>
    <div class="row mt-5">
        <div class="col-sm-2 mb-3">
            <img class="menu-img" src="~/images/example/kombo-3-tvister.png" alt="">
            <p class="text-menu-business-card">Комбо Твистер</p>
        </div>
        <div class="col-sm-2 mb-3">
            <img class="menu-img" src="~/images/example/set-prazdnichnyi-photo-normal.jpg" alt="">
            <p class="text-menu-business-card">Праздничный сет</p>
        </div>
        <div class="col-sm-2 mb-3">
            <img class="menu-img" src="~/images/example/unnamed.png" alt="">
            <p class="text-menu-business-card">Комбо Боксмастер</p>
        </div>
    </div>
    <hr>
    <div style="text-align: center; margin-top: 30px;">
        <h2>Десерты</h2>
    </div>
    <div class="row mt-5">
        <div class="col-sm-4 mb-3">
            <img class="dish-img" src="~/images/example/maxresdefault.jpg" alt="">
            <p class="text-dish-business-card">Чизкейк</p>
            <div style="text-align: center">
                <input type="number" min="0" style="width: 50px">
                <button type="button" class="btn btn-light">Заказать</button>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <img class="dish-img" src="~/images/example/Tiramisu_01.jpg" alt="">
            <p class="text-dish-business-card">Тирамису</p>
            <div style="text-align: center">
                <input type="number" min="0" style="width: 50px">
                <button type="button" class="btn btn-light">Заказать</button>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <img class="dish-img" src="~/images/example/maxresdefault (1).jpg" alt="">
            <p class="text-dish-business-card">Красный бархат</p>
            <div style="text-align: center">
                <input type="number" min="0" style="width: 50px">
                <button type="button" class="btn btn-light">Заказать</button>
            </div>
        </div>
    </div>
</div>
