<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
       <link rel="stylesheet" href="~/lib/timepicker/css/jquery.timepicker.min.css"/>
       <link rel="stylesheet" href="~/lib/datepicker/dist/css/datepicker.css"/>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css"/>
       <link rel="stylesheet" href="~/css/styleSiteCard.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-bootstrap-null">
        <div class="container">
            <div class="in-sitecard-addition">
                <div class="layout-up">
                    <div class="col-sm-5 col-xs-12 layout-up-box1">
                        <div class="header-firstrow-contents">
                            <ul class="navbar-nav flex-grow-1 justify-content-center ">
                              <li class="nav-item">
                                  <a class="nav-link text-dark" asp-area="">812324567</a>
                               </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="">info@redchili.com</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-12 layout-up-box2"></div>
                    <div class="col-sm-5 col-xs-12 layout-up-box3"></div>
                </div>
                <hr class="nav-hr-code-156">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse layout-down">
                    <ul class="navbar-nav flex-grow-1 justify-content-center navbar-nav-in-code-415a6sd2">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Домой</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Страницы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Элементы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Меню еды</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Бронирование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">СВЯЗАТЬСЯ С НАМИ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - test - <a asp-area="" >Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>