@model User

@{
    ViewBag.Title = "Сайт визитка";
    Layout = "_LayoutSiteCard";
}
<div class="container-fluid">
@{
  await Html.RenderPartialAsync("Partial/BlockCarouselPartial");
}
@{
    await Html.RenderPartialAsync("Partial/BlockOrderPartial");
}

</div>
