@model User

@{
    ViewBag.Restaurant = ViewBag.Restaurant;
    ViewBag.Title = "Сайт визитка";
    Layout = "_LayoutSiteCard";
}

<div class="container-fluid">
    @{
        <form asp-action="SaveCarouselData" asp-controller="SiteCards" method="post" enctype="multipart/form-data">
        @{
            await Html.RenderPartialAsync("Partial/BlockCarouselPartial"); // block 1
        }
        </form>
        await Html.RenderPartialAsync("Partial/BlockOrderPartial"); // block 2
        await Html.RenderPartialAsync("Partial/BlockSpecialDishPartial"); // block 3
        await Html.RenderPartialAsync("Partial/BlockMenuPartial"); // block 4
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).on('ready', function() {
             $(".center").slick({
               dots: true,
               infinite: true,
               centerMode: true,
               slidesToShow: 4,
               slidesToScroll: 0
             });
           });
    </script>
}
