@model DataSiteCard

@{
    ViewBag.Title = "Редактор сайта визитки";
    Layout = "_Layout";
@*     <link rel="stylesheet" href="~/css/styleSiteCard.css"/> *@
}

<div class="container-personalAccount">
    <div class="primer-corusel">
        @* <img style="max-width: 100%" src="~/images/SiteCardDefaultPath/Sett_Car_Img_1.png" alt=""> *@
         @{
             await Html.RenderPartialAsync("Partial/BlockCarouselPartial"); // block 1
         }
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label asp-for="DishNameCarousel1">Название блюд 1</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text"  class="form-control" asp-for="DishNameCarousel1" >
                @* <span asp-validation-for="DishNameCarousel1"></span> *@
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label asp-for="DishTextCarousel1">Описание блюд 1</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text"  class="form-control" asp-for="DishTextCarousel1" >
                @* <span asp-validation-for="DishTextCarousel1"></span> *@
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Оasdписание блюд 1</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="file" class="form-control" style="padding: 0" asp-for="ImgPathCarousel1" >
                @* <span asp-validation-for="ImgPathCarousel1"></span> *@
            </div>
        </div>
    </div>
</div>
