@model object

@{
    ViewBag.Title = "Корзина";
    Layout = "_BusinessCardLayout";
}

<h3 class="text-cart">Корзина</h3>
<div style="overflow-x: auto">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="cart-cell">Наименования</th>
            <th class="cart-cell">Картинка</th>
            <th class="cart-cell">Цена</th>
            <th class="cart-cell">Действие</th>
            <th class="cart-cell">Количество</th>
            <th class="cart-cell">Общая стоимость</th>
        </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>
<div id="message" style="display: none"></div>
<div id="details"></div>
<br>
<div style="display: flex; justify-content: space-between">
    <a asp-controller="Site" asp-action="index">Назад</a>
    <a href="#" onclick="toOrder('')">Оформить заказ</a>
</div>
@section Scripts
{
    <script >
        $(document).ready(function (){
           $.get('@Url.Action("GetContentCard")', function (data){
               $("#result").html(data);
           }) 
        });
        
        function down(id, qty, name){
            if (qty > 0){
                $.get(`@Url.Action("ChangeQuantity")?id=${id}&quantity=${qty}&name=${name}`, function (data){
                    $("#result").html(data);
                })   
            }
        }
        
        function up(id, qty, name){
            $.get(`@Url.Action("ChangeQuantity")?id=${id}&quantity=${qty}&name=${name}`, function (data){
                $("#result").html(data);
            })
        }
        
        function toOrder(){
            $.get('@Url.Action("Add", "Orders")', function (data){
                if (data == false){
                    var message = $("#message");
                    $(message).text("Нет блюд в корзине");
                    $(message).css("color", "red");
                    $(message).show();
                    setTime($(message));
                }
                $("#details").html(data);
                $("#toOrder").show();
                $("#toOrder").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            });
        }
        
        function toOrderSubmit(){
            var form = $("#form-toOrder");
            var data = $(form).serialize();
            var url = $(form).attr("action");
            var method = $(form).attr("method");
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (result){
                    if (result != true){
                        $("#details").html(result);
                        $("#toOrder").show();   
                    }
                    else{
                        $("#toOrder").hide();
                        var message = $("#message");
                        $(message).text("Заказ успешно оформлен");
                        $(message).css("color", "green");
                        $(message).show();
                        setTime($(message));
                    }
                }
            });
        }
        
        function setTime(message){
            setTimeout(function (){
                $(message).hide();
            }, 3000)
        }
    </script>
}
