@model Register
<div class="form-group row">
    <label asp-for="LegalAddress.Index" class="col-sm-3 col-form-label register-label">Индекс:
        <span title="Обязательное поле" class="form-required">*</span>
    </label>
    <div class="col-sm-9">
        <input type="number" id="Legal-index" class="form-control" asp-for="LegalAddress.Index" placeholder="050000">
        <span asp-validation-for="LegalAddress.Index"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="PostalAddress.Index" class="col-sm-3 col-form-label register-label">
        Страна:
        <span title="Обязательное поле" class="form-required">*</span>
    </label>
    <div class="col-sm-9">
        <select id="disabledSelect" class="form-control" disabled>
            <option>Казахстан</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label asp-for="LegalAddress.Region" class="col-sm-3 col-form-label register-label">Область:
    </label>
    <div class="col-sm-9">
        <input type="text" id="Legal-region" class="form-control" asp-for="LegalAddress.Region">
    </div>
</div>
<div class="form-group row">
    <label asp-for="LegalAddress.City" class="col-sm-3 col-form-label register-label">Город:
        <span title="Обязательное поле" class="form-required">*</span>
    </label>
    <div class="col-sm-9">
        <input type="text" id="Legal-city" class="form-control" asp-for="LegalAddress.City">
    </div>
</div>
<div class="form-group row">
    <label asp-for="LegalAddress.Address" class="col-sm-3 col-form-label register-label">Адрес:
        <span title="Обязательное поле" class="form-required">*</span>
    </label>
    <div class="col-sm-9">
        <input type="text" id="Legal-address" class="form-control" asp-for="LegalAddress.Address">
        <span asp-validation-for="LegalAddress.Address"></span>
    </div>
</div>
