@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 576px) {
    .layout-up{
        display: flex;
        align-items: center;
    }
    .layout-up-box1{
        display: none;
    }
    .layout-up-box2{
        text-align: center;
    }
    .hamburger{
        display: block;
    }
    .sm-links{
        display: none;
    }
    .nav-item{
        padding: 0;
    }
    .layout-up-box ul{
        flex-direction: row;
        justify-content: space-between!important;
    }
    .layout-up-box3{
        padding: 0 15px;
    }
    .amount{
        padding: 0;
    }
    .carousel-control-next, .carousel-control-prev{
        display: none;
    }
    .block-carr img{
        height: 100vh;
    }
}