*{
    box-sizing: border-box;
}
body{
    font-family: Roboto Slab, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
/*body{*/
/*    font-family: Roboto Slab  arial;*/
/*}*/
.container{
    max-width: 1170px;
}
.container-fluid{
    padding: 0!important;
}
.navbar-bootstrap-null {
    padding: 0 !important;
}

.in-sitecard-addition{
    width: 100%;
}
/*.layout-up{*/
/*    height: 70px;*/
/*}*/
.nav-hr-code-156{
    margin: 0 0 20px 0;
}

.navbar-nav-in-code-415a6sd2{
    font-family: Oswald, sans-serif!important;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar-nav-in-code-415a6sd2 ul{
    text-align: center;
}
.navbar-nav-in-code-415a6sd2 a{
    padding: 0 15px 20px 15px!important;
}
.navbar-nav-in-code-415a6sd2 a:hover{
    color: #e7272d!important;
}
.block-nav-ul-li-code-asd a{
    padding: 0!important;
    display: inline;
    font-weight: 400;

}
.block-nav-ul-li-code-asd  li{
    margin-right: 25px;
}
.nav-ic{
    color:  #e7272d;
    padding-right: 10px;
}
.code-asdml215693zx{
    font-size: 11px;
}
.layout-up-box1{
    text-align: start;
}
.navbar-bootstrap-null{
    /*margin-bottom: 0!important;*/
    /*margin-bottom: 60px;*/
}

.main-header{
    width: 100%;
    height: 60px;
    position: fixed;
    background: #fff;
    z-index: 1000;
}
.layout-up-box1 .block-nav-ul-li-code-asd{
    display: inline-block;
}
.layout-up{
    white-space: nowrap;
}
.layout-up-box1, .layout-up-box3{
    padding: 15px 0;
}
.layout-up-box2{
    max-height: 70px;
}
.layout-up-box2 img{
    max-height: 51px;
}
.nav-item-code-asd154{
    padding: 5px 0;
}


