*{
    box-sizing: border-box;
}
body{
    font-family: Roboto Slab, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
/*body{*/
/*    font-family: Roboto Slab  arial;*/
/*}*/
.container{
    max-width: 1170px;
}
.container-fluid{
    padding: 0!important;
}
.navbar-bootstrap-null {
    padding: 0 !important;
}

.in-sitecard-addition{
    width: 100%;
}
/*.layout-up{*/
/*    height: 70px;*/
/*}*/
.nav-hr-code-156{
    margin: 0;
}

.main-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
    text-align: center;
}

.navbar-nav-in-code-415a6sd2{
    font-family: Oswald, sans-serif!important;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    flex-direction: row;
    padding: 20px 0;    
}
.navbar-nav-in-code-415a6sd2 ul{
    text-align: center;
}
.navbar-nav-in-code-415a6sd2 a{ 
    padding: 0 15px 0px 15px!important;
}
.navbar-nav-in-code-415a6sd2 a:hover{
    color: #e7272d!important;
}
.block-nav-ul-li-code-asd a{
    padding: 0!important;
    display: inline;
    font-weight: 400;

}
.block-nav-ul-li-code-asd  li{
    margin-right: 25px;
}
.nav-ic{
    color:  #e7272d;
    padding-right: 10px;
}
.code-asdml215693zx{
    font-size: 11px;
}
.layout-up-box1{
    text-align: start;
}
.navbar-bootstrap-null{
    z-index: 1000;
}

.main-header{
    width: 100%;
    background: #fff;
    z-index: 1000;
}
.layout-up-box1 .block-nav-ul-li-code-asd{
    display: inline-block;
}
.layout-up{
    white-space: nowrap;
}
.layout-up-box{
    display: inline-block;
}

.layout-up-box1, .layout-up-box3{
    padding: 15px 0;
}
.layout-up-box2{
    max-height: 100px;
}
.layout-up-box2 img{
    max-height: 90px;
}

.amount{
    padding-left: 40px;
}
.nav-item-code-asd154{
    padding: 5px 0;
}

.block-order{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: url(../images/SiteCardDefaultPath/table-reservation2.jpg) no-repeat center !important;
    background-size: cover !important;
}
.order-box1-code-bg{
    background: #e7272d;
    padding: 50px 30px 5px 30px;
}
.block-order-in{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.order-box1, .order-box2, .order-box3{
    padding: 0 15px;
}
.order-box1 input{
    border-radius: 0;
    background: none!important;
    color: white!important;
    outline: none!important;
    border: 1px solid white;
    font-size: 14px;
    line-height: 1.42857143;
    
}
.order-box1 textarea{
    border-radius: 0;
    background: none!important;
    color: white;
    font-size: 14px;
    line-height: 1.42857143;
}
.order-box1 textarea::placeholder{
    color: white!important;
}
.order-box1 input::placeholder{
    color: white!important;

}
.order-box1 h2{
    color: #ffffff;
    font-size: 40px;
    margin: 1px 0 22px 0;
    font-weight: 500;
    font-family: Oswald, sans-serif;
    line-height: 31px;
}
.order-box1 span{
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
    
}
.my-btn-code{
    font-family: Oswald, sans-serif;
     background: white;
     color: black!important;
    border-radius: 0;
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 12px 0!important;
 }
.my-btn-code:hover{
    background: #ffffff9a;
    color:  #e7272d!important;
}
.asd-54asdkl{
    margin: 0;
    height: 72px;
}
.order-box2-in h2{
    font-size: 58px;
    font-weight: 500;
    color: #222222;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    margin: 24px 0;
}
.order-box2{
    display: flex;
    align-items: center;
}
.block-top-dishes{
    background-image: url(../images/SiteCardDefaultPath/default-foody_bg-1.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 50px 89.500px 10px;
}
.top-dishes-container{
    padding: 35px 15px 0;
}
.topDish-box-1{
    padding-bottom: 50px;
}
.topDish-box-1 h2{
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 12px;
    font-family: Oswald, sans-serif;
    margin-bottom: 20px;
    clear: both;
}
.asd5asdxc5{
    text-align: center;
    margin-bottom: 35px;
    color: #e7272d;
}
.asdasd{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}
.asd468{
    border-top: 1px solid #e7272d;
    width: 70px;
    height: 1px;
    min-height: 1px;
}
/*______________*/
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin-bottom: 30px;
    padding: 0 15px;
}

.slider-in-code-asd45412 img {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
    color: white;
}




/*.slick-slide {*/
/*    transition: all ease-in-out .3s;*/
/*    opacity: .2;*/
/*}*/

/*.slick-active {*/
/*    opacity: .5;*/
/*}*/

/*.slick-current {*/
/*    opacity: 1;*/
/*}*/

/*______________*/
.slider-code-asd154{
    width: 100%;
}
.slider-code-asd154{
    margin: 0;
}
.slick-next{
    transition: 0.5s;
    /*border: 1px solid #e7272d;*/
    /*background: #e7272d;*/
    padding: 4px 7px;
    width: 40px;
    height: 40px;
}
.slick-next:hover{
    transition: 0.5s;
    background: silver;
}
.slick-prev{
    transition: 0.5s;
    /*border: 1px solid #e7272d;*/
    /*background: #e7272d;*/
    padding: 4px 7px;
    width: 40px;
    height: 40px;
}
.slick-prev:hover{
    transition: 0.5s;
    background: silver;
}
.slider-in-code-asd45412{
    color: white;
    text-align: center;
}
.slider-in-code-asd45412 h3{
    margin: 13px 0 17px;
    font-size: 20px;
    font-family: Oswald sans-serif;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 700;
    
}
.slider-in-code-asd45412 p{
    margin: 20px 0;
}
.slider-in-code-asd45412 a{
    background: none;
    margin-top: 6px;
    border: 2px solid #e7272d;
    padding: 10px 44px;
    border-radius: 0;
    color: white;
    font-size: 16px;
    font-family: Oswald, sans-serif;
    line-height: 24px;
    cursor: pointer;
    
}

.buy-qty{
    background: #fff;
}
.slider-in-code-asd45412 a:hover{
    color: white;
    transition: 0.5s;
    background: #e7272d;
}
.slick-track{
    margin-left: 0px;
    margin-right: 0px;
}
/*Блок меню ___________________________________*/
.bl-men-box1 h2{
    text-align: center;
    font-size: 48px;
    font-family: Oswald, sans-serif;
    color: white;
}
.bl-men-box1-1{
    text-align: center;
    color: white;
}
.bl-men-box2{
    display: grid;
    grid-auto-columns: 1fr 1fr;
}
.blank-menu{
    padding: 0 15px;
    margin-bottom: 30px;
    
}
.menu-bgr-code-asd582{
    background-image: url(../images/SiteCardDefaultPath/menu-back.jpg);
}
.dish-bgr-code-asd582{
    background-image: url(../images/SiteCardDefaultPath/default-especial-dishes-back.jpg);
}

.control-panel-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.control-panel-btn button{
    text-transform: uppercase;
    margin: 0 2px 5px;
    /*padding: 10px 30px;*/
    font-size: 16px;
}
.dish-as15, .menu-block{
    padding: 0 15px;
    margin-bottom: 30px;
    width: 245px;
}
.box-dish-code15, .box-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.dish-as15-box-img img, .menu-avatar-img img{
    width: 100%;
}
.dish-as15-box-title, .menu-box-title{
    padding: 20px 0 5px;
    background: white;
}
.dish-as15-box-title h3, .menu-box-title h3{
    text-align: center;
    margin-bottom: 20px;
}
.dish-as15-box-title a, .menu-box-title a{
    font-size: 18px;
    font-family: Oswald, sans-serif;
    color: #222222;
    text-decoration: none;
}
.dish-as15-box-title a:hover, .menu-box-title a:hover{
    transition: 0.5s;
    color: #e7272d;
}
.dish-as15-box-img{
    /*max-width: 162.500px;*/
    /*max-height: 174.766px;*/
}
/*Блок footer_________________________________________________________*/


.block-footer-code-a62{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.code-a62{
    padding: 15px ;
    margin-bottom: 21px;
    color:  #d7d7d7;
}
.code-a62 h3{
    font-size: 26px; 
    font-family:  Oswald, sans-serif;
    text-transform: uppercase;
    margin-bottom: 67px;
}
.asd-54asdklln152{
    white-space: pre-line;
    line-height: 24px
}
.footer-social{
    padding: 0;
    margin: 40px 0 16px 0;
}

.footer-social li{
    margin: 5px 5px 5px 0;
    display: inline-block;
    text-align: center;
    background-color: #e7272d;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    list-style-type : none;
    cursor: pointer;
}
.footer-social a{
    font-size: 18px;
    color: white;
}
.footer-social li:hover{
    transition: 0.5s;
    background: white;
}
.footer{
    padding: 0;
    margin: 0;
}
.media-ax{
    margin-top: 15px;
}
.media-ax img{
    height: 67.047px;
    width: 69px;
    max-height: 67.047px;
    max-width: 69px;
    min-height: 67.047px;
    min-width: 69px;
    border: 1px solid red;
    margin-right: 20px;
}
.media-ax a{
    padding-right: 10px;
    
}
.media-ax-h4 {
    display: inline-block;
}
.media-ax-h4 h4{
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 7px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 500;
    /*white-space: pre-line;*/

}
.media-ax-h4 a{
    color: white;
    text-decoration: none;
    /*white-space: pre-line;*/

}
.media-ax-h4 a:hover{
    transition: 0.5s;
    color: #e7272d;
}

.media-ax-h4 p{
    line-height: 18px;
    margin-top: 10px;
    color: #e7272d;
}
/*class code-a62-3___________________________________________________*/
.code-a62-3 ul{
    font-family: Roboto Slab, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}
.code-a62-3 li{
    list-style: outside none none;
    font-weight: 500;
    box-sizing: inherit;
    /*display: list-item;*/
    font-size: 15px;
    margin-bottom: 12px;
    text-transform: capitalize;
    color: #d7d7d7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.code-a62-3 .sp2{
    text-align: end;
}

/*block 1*/
.block-carr img{
    height: 100vh;
    max-height: 990px;
    width: 100%
}
.carousel-item .my-carousel-caption-code-1{
    margin-bottom:200px;
}
.carousel-caption {
    top: 20%;
}
.my-carousel-caption-code-1 h5{
    font-size: 72px;
    color: rgb(255, 250, 250);
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.my-carousel-caption-code-1 p{
    font-size: 20px;
    padding-bottom: 50px;
    
}
.my-carousel-caption-code-1 a{
    background: none;
    border: 3px solid white;
    border-radius: 0;
    padding: 12px 30px;
    cursor: pointer;
}
.my-carousel-caption-code-1 a:hover{
    transition: 0.5s;
    background: #ffffff2e;
    border: 3px solid #ffffff2e;

}
/*где input*/
.my-carousel-caption-code-1 h5 input{
    font-size: 72px;
    color: rgb(255, 250, 250);
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.my-carousel-caption-code-1 p textarea{
    font-size: 20px;
    color: #fff;
    text-align: center;
}
#carousel-section{
    position: relative;
}

/*_____________*/
/*Cfv*/
.btn{
    border-radius: 0;
}

.about-us-left{
    margin: 100px;
}

.about-us-right{
    margin-right: 150px;
    align-self: center;
}

.img-wrapper{
    width: 100%;
    overflow: hidden;
}

.menu-img-wrapper, .dish-img-wrapper{
    height: 150px;
}

.about-us-img-wrapper{
    width: 100%;
    height: 500px;
}

.stock-img, .about-us-img, .menu-img, .dish-img{
    width: 100%;
    height: initial;
}

.slick-slide .offers-img-wrapper {
    width: 200px;
    height: 200px;
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

#offers .section-subtitle{
    color: #fff;
}

.offers-cost, .item-cost{
    font-size: 20px;
}

.offers-btn{
    border-color: #fff;
    background: transparent;
    color: #fff;
}

.offers-btn:hover{
    border-color: #e7272d;
    background: #000;
    color: #fff;
}

.section-title, h2.section-title input{
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 12px;
    font-family: Oswald, sans-serif;
    margin-bottom: 20px;
    clear: both;
}

.subtitle-line{
    border-top: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: inline-flex;
    float: none;
    height: 2px;
    margin-right: 17px;
    margin-left: 0px;
    position: relative;
    top: -6px;
    width: 70px;
}
.subtitle-line-rt{
    margin-right: 0px;
    margin-left: 17px;
}

.subtitle-text, .subtitle-text input{
    font-size: 18px;
    width: auto;
}

#bookings .subtitle-line, #menu .subtitle-line, #all-dishes .subtitle-line{
    border-color: #e7272d;
}

#bookings .subtitle-text, #menu .subtitle-text, #all-dishes .subtitle-text{
    color: #e7272d;
}

.menu-btn, .dishes-btn{
    border-color: #fff;
    background: #fff;
    color: #e7272d;
}

.menu-btn:hover, .dishes-btn:hover{
    border-color: #e7272d;
    background: transparent;
    color: #fff;
}

.about-us-left{
    width: 430px;
}

.about-us-right{
    width: 600px;
}

.card{
    border-radius: 0;
}

.card-img-th{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.book-btn{
    padding: 20px;
    border-radius: 0;
}

.ui-timepicker-list li{
    text-align: center;
}

/*.block-top-dishes{*/
/*    background-image: url("../images/SiteCardDefaultPath/offers-bg.jpg") !important;*/
/*}*/



#map {
    height: 100%;
}

.menu-box-img, .dish-as15-box-img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.menu-block img, .dish-as15 img{
    width: auto;
    height: 100%;
}

.menu-qty-input, .dish-qty-input{
    border: 1px solid red;
}

.hamburger{
    display: none;
}

.hb-menu {
    position: absolute;
    display: none;
    background: #fff;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 113px;
    left: 0;
    z-index: 100;
}

.hb-menu li a{
    font-size: 50px;

}
.bg-input input{
    display: none;
    width: 0;
    height: 0;
}
.bg-input label, .editBlockBtn{
    font-size: 20px;
    color: #fff;
}
section{
    position: relative;
    padding: 50px 15px;
}

.section-edit, #EditCarouselBTN{
    position: absolute;
    z-index: 1000;
    bottom: 0%;
    color: white;
    right: 5%;
}
.section-edit .btn{
    vertical-align: initial;
}

#carousel-section{
    padding: 0;
}

