<div class="block-top-dishes">
    <div class="container">

        <div class="top-dishes-container">
            <div class="topDish-box-1">
                <h2>СПЕЦИАЛЬНЫЕ БЛЮДА СЕГОДНЯ</h2>
                <div class="asd5asdxc5">
                    <span class="asd468"></span>
                    <span class="asdasd">ДАВАЙТЕ ОТКРОЕМ ДЛЯ СЕБЯ ЕДУ</span>
                    <span class="asd468"></span>
                </div>
            </div>
            
            <div class="topDish-box-2">
                <section class="center slider slider-code-asd154">
                    @for (int i = 1; i < 10; i++)
                    {
                        <div class="slider-in-code-asd45412">
                            <div>
                                <img src="http://placehold.it/350x300?text=@i" alt="">
                            </div>
                            <div>
                                <h3>Чипотл Куриная Миска</h3>
                            </div>
                            <p>Мы создаем, и обслуживаем</p>
                            <div style="margin-bottom: 30px">
                                <a class="btn ">Подробнее</a>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>