<div class="menu-bgr-code-asd582">
    <div class="container">
        <div style="padding-top: 50px; padding-bottom: 70px">
            <div class="block-menu-code-x14a" style="padding-top: 35px;padding-left: 15px;padding-right: 15px;">
                <div class="block-menu-in-code-x14a">
                    <div>
                        <div class="bl-men-box1" style="padding-bottom: 20px">
                            <h2 style="padding-bottom: 12px;margin-bottom: 20px">ВКУСНОЕ МЕНЮ СЕГОДНЯ</h2>
                            <div class="bl-men-box1-1" style="margin-bottom: 35px">
                                <span class="subtitle-line"></span>
                                <span class="subtitle-color">Выбор шеф-повара</span>
                                <span class="subtitle-line"></span>
                            </div>

                            <div class="bl-men-box2" style="padding: 0 15px">
                                <div class="BM-panel-upr" style="margin-bottom: 32px ">
                                    <div class="panelupravlenia-btn">
                                        <button class="btn btn-light">ПОКАЗАТЬ ВСЕ</button>
                                        <button class="btn btn-light">обеденное меню</button>
                                        <button class="btn btn-light">МЕНЮ УЖИН</button>
                                        <button class="btn btn-light">МЕНЮ ЗАВТРАК</button>
                                        <button class="btn btn-light">ПЕРВЫЙ НА ЧАЙ</button>
                                    </div>
                                </div>
                                <div class="box-dish-code15">
                                    <div class="dish-as15">
                                        <div>
                                            <div class="dish-as15-box-img">
                                                <img class="dish-as15-img" src="https://rsttur.ru/file/1556166750DiOkP.jpg" alt="">
                                            </div>
                                            <div class="dish-as15-box-title">
                                                <h3 class="">
                                                    <a href="#">Бекон Ранч Паста</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dish-as15">
                                        <div>
                                            <div class="dish-as15-box-img">
                                                <img class="dish-as15-img" src="https://i.sunhome.ru/magic/140/zagovori-na-edu.orig.jpg" alt="">
                                            </div>
                                            <div class="dish-as15-box-title">
                                                <h3 class="">
                                                    <a href="#">Бекон Ранч Паста</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dish-as15">
                                        <div>
                                            <div class="dish-as15-box-img">
                                                <img class="dish-as15-img" src="https://hotsale.ge/files/offers/aqciebi/kveba/budoir/PICA%206.jpg" alt="">
                                            </div>
                                            <div class="dish-as15-box-title">
                                                <h3 class="">
                                                    <a href="#">Бекон Ранч Паста</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dish-as15">
                                        <div>
                                            <div class="dish-as15-box-img">
                                                <img class="dish-as15-img" src="https://img2.fonwall.ru/o/nl/picca-eda-vypechka-wabq.jpg" alt="">
                                            </div>
                                            <div class="dish-as15-box-title">
                                                <h3 class="">
                                                    <a href="#">Бекон Ранч Паста</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dish-as15">
                                        <div>
                                            <div class="dish-as15-box-img">
                                                <img class="dish-as15-img" src="https://img2.fonwall.ru/o/nl/picca-eda-vypechka-wabq.jpg" alt="">
                                            </div>
                                            <div class="dish-as15-box-title">
                                                <h3 class="">
                                                    <a href="#">Бекон Ранч Паста</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dish-as15">
                                        <div>
                                            <div class="dish-as15-box-img">
                                                <img class="dish-as15-img" src="https://img2.fonwall.ru/o/nl/picca-eda-vypechka-wabq.jpg" alt="">
                                            </div>
                                            <div class="dish-as15-box-title">
                                                <h3 class="">
                                                    <a href="#">Бекон Ранч Паста</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

