
<div class="block-order">
    <div class="container">
        <div class="block-order-in">
        <div class="order-box1">
            <div class="order-box1-code-bg">
                <span>Взять</span>
                <h2>БРОНИРОВАНИЕ</h2>
                <form >
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder=Дата>
                    </div>
                    <div class="form-group">
                        <input type="time" class="form-control" placeholder="Время">
                    </div>
                    <div class="form-group">
                        <textarea type=text class="form-control" placeholder="Cообщение.."> </textarea>
                    </div>
                    <div class="form-group asd-54asdkl">
                        <button class="btn btn-primary my-btn-code" type="submit">ЗАКАЗАТЬ СТОЛИК</button>
                    </div>
                    
                </form>
            </div>
        </div>
            <div class="order-box2">
                <div style="margin-bottom: 35px; margin-top: 20px">
                    <div class="order-box2-in">
                        <h2>МАРК ВИЛЛИ</h2>
                        <p style="font-size: 16px; color: #FF0000;margin-bottom: 20px;font-weight: 500;">Шеф-Повар</p>
                        <p style="margin-bottom: 20px; color: #646464; font-weight: 500;">Rorem ipsum dolor sit amet, consectetur adipisicing elitsed eiusmod tempor incididunt.</p>
                        <p>
                            <img class="alignnone size-full wp-image-285" src="~/images/SiteCardDefaultPath/default-signature.png" alt="" width="165" height="81">
                        </p>
                    </div>
                </div>
            </div>
            <div class="order-box3 ">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                    <img width="325" height="524" src="~/images/SiteCardDefaultPath/default-avatar.png" alt="">
                </div>
            </div>
            </div>
    </div>
</div>

