@{
    ViewBag.Title = "Статистика продаж";
    Layout = "_Layout";
}

<style>
    #dropdown1{
        display: block;
    }
    #dropdown1-li-16{
          margin-left: 15px;
            background: #9ad9ea;
    }
    #dropdown1-li-16 a{
                color: #262626;
                font-weight: 600;
                border-left: 2px solid #41728b;
    }
    #dropdown1-li-16 a:hover{
        color: #262626;
    }
 </style>
 

<div id="columnchart_div"></div>

@section Scripts
{
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script >
        $(document).ready(function (){
           $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeSalesActionResult")',
                success: function (result){
                    google.charts.load('current', {
                        'packages' : ['corechart'] 
                    });
                    google.charts.setOnLoadCallback(function (){
                       drawChart(result); 
                    });
                }
           }) 
        });
        
        function drawChart(result){ 
            const groups = result.reduce((groups, order) => {
              const date = order.orderTime.split('T')[0];
              if (!groups[date]) {
                groups[date] = [];
              }
              groups[date].push(order);
              return groups;
            }, {});
            
            const groupArrays = Object.keys(groups).map((date) => {
              return {
                date,
                order: groups[date]
              };
            });
            
            groupArrays.sort((a, b) => (a.date > b.date) ? 1 : -1);
            console.log(groupArrays);
            
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Время заказа');
            data.addColumn('number', 'Количество заказов');
            var dataArray = [];
            $.each(groupArrays, function (i, obj){
               dataArray.push([obj.date, obj.order.length]);
            });
            data.addRows(dataArray);
            
            var columnChartOptions = {
                title: "Статистика продаж",
                width: 800, 
                height: 400,
                bar: {groupWidth: "20%"}
            }
            
            var columnChart = new google.visualization.LineChart(document.getElementById('columnchart_div'))
            
            columnChart.draw(data, columnChartOptions);
        }
    </script>
}
