@{
    ViewBag.Title = "Статистика продаж";
    Layout = "_Layout";
}

<style>
    #dropdown1{
        display: block;
    }
    #dropdown1-li-16{
          margin-left: 15px;
            background: #9ad9ea;
    }
    #dropdown1-li-16 a{
                color: #262626;
                font-weight: 600;
                border-left: 2px solid #41728b;
    }
    #dropdown1-li-16 a:hover{
        color: #262626;
    }
 </style>
 
<h2 class="text-statistic">Статистика продаж</h2>
<div style="margin-top: 50px; width: 75%; margin-left: auto; margin-right: auto;">
    <a class="sort-statistic" href="#" onclick="getOrders('day')">День</a>
    <a class="sort-statistic" href="#" onclick="getOrders('week')">Неделя</a>
    <a class="sort-statistic" href="#" onclick="getOrders('month')">Месяц</a>
    <a class="sort-statistic" href="#" onclick="getOrders('threeMonth')">3 Месяца</a>
    <a class="sort-statistic" href="#" onclick="getOrders('year')">Год</a>
</div>
<div id="columnchart_div"></div>

@section Scripts
{
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://momentjs.com/static/js/global.js"></script>
    <script >
        $(document).ready(function (){
            getOrders();
        });
        
        function getOrders(sortParam){
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("VisualizeSalesActionResult")',
                data: {sortParam : sortParam},
                success: function (result){
                    google.charts.load('current', {
                        'packages' : ['corechart'] 
                    });
                    google.charts.setOnLoadCallback(function (){
                       drawChart(result, sortParam); 
                    });
                }
           });
        }
        
        function drawChart(result, sortParam){ 
            const groups = (() => {
                const day = (item) => moment(item.orderTime).format('MMM DD YYYY'),
                    hour = (item) => moment(item.orderTime).format('hh a'),
                    month = (item) => moment(item.orderTime).format('MMM YYYY'),
                    week = (item) => month(item) + ' ' + moment(item.orderTime).format('ww');
                return {
                    day,
                    hour,
                    month,
                    week,
                };
            })();
            
            var currentGroup;
            
            switch (sortParam){
                case "week":
                    currentGroup = "day";
                    break;
                case "month":
                    currentGroup = "day";
                    break;
                case "threeMonth":
                    currentGroup = "week";
                    break;
                case "year":
                    currentGroup = "month";
                    break;    
                default:
                    currentGroup = "hour";
                    break;    
            }
            var groupBy = _.groupBy(result, groups[currentGroup]);
            
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Время заказа');
            data.addColumn('number', 'Количество заказов');
            var dataArray = [];
            $.each(groupBy, function (i, obj){
               dataArray.push([i, obj.length]);
            });
            data.addRows(dataArray);
            
            var columnChartOptions = {
                width: 800, 
                height: 400,
                bar: {groupWidth: "10%"}
            }
            
            var columnChart = new google.visualization.LineChart(document.getElementById('columnchart_div'))
            
            columnChart.draw(data, columnChartOptions);
        }
    </script>
}
