@model EditUserViewModel

 <form asp-action="Edit" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <hr class="hr-xs">
    <div class="form-group row">
        <label asp-for="OldPassword" class="col-sm-3 col-form-label register-label">
            Старый пароль:
            <span title="Обязательное поле" class="form-required">*</span>
        </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" asp-for="OldPassword">
                <div class="input-group-append ">
                    <span class="input-group-text input-group-text-register">
                        <a href="#" class="password-control password-control-register"></a>
                    </span>
                </div>
            </div>
            <span asp-validation-for="OldPassword"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-sm-3 col-form-label register-label">
            Новый пароль:
            <span title="Обязательное поле" class="form-required">*</span>
        </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" asp-for="NewPassword">
                <div class="input-group-append ">
                    <span class="input-group-text input-group-text-register">
                        <a href="#" class="password-control password-control-register"></a>
                    </span>
                </div>
            </div>
            <span asp-validation-for="NewPassword"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label register-label">
            Подтвердите пароль:
            <span title="Обязательное поле" class="form-required">*</span>
        </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" id="inputPassword2" asp-for="ConfirmPassword">
                <div class="input-group-append">
                    <span class="input-group-text input-group-text-register">
                        <a href="#" class="password-control password-control-register "></a>
                    </span>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword"></span>
            <span style="color: silver;display: block;">
                Пароль должен содержать не менее 8 символов из них 1 прописную 1 строчную буквы и 1 цифру.
            </span>
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.Id" id="user-id">
        <input type="submit" value="Сохранить" class="btn btn-primary" id="#modal-save"/>
    </div>
</form>

@* @section Scripts *@
@* { *@
@*     @{ *@
@*         await Html.RenderPartialAsync("_ValidationScriptsPartial"); *@
@*     } *@
@*      *@
@* $1$     <script> #1# *@
@* $1$         $('body').on('click', '.password-control', function(){ #1# *@
@* $1$                 if ($('#inputPassword').attr('type') === 'password'){ #1# *@
@* $1$                     $(this).addClass('view'); #1# *@
@* $1$                     $('#inputPassword').attr('type', 'text'); #1# *@
@* $1$                 } else { #1# *@
@* $1$                     $(this).removeClass('view'); #1# *@
@* $1$                     $('#inputPassword').attr('type', 'password'); #1# *@
@* $1$                 } #1# *@
@* $1$                 return false; #1# *@
@* $1$             }); #1# *@
@* $1$ </script> #1# *@
@*    *@
@* } *@

