@model Category

@{
    ViewBag.Title = "Добавление категорий";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 mt-5">
        <h2 class="create-category">Добавление категорий</h2>
        <form asp-action="Create" method="post">
            <div class="form-group row">
                <label for="" class="col-sm-4 col-form-label">Название категорий</label><br/>
                <div class="col-sm-8">
                    <input type="text" class="form-control" asp-for="Name">
                </div>
                <span class="validationError" asp-validation-for="Name"></span>
            </div>
            <div style="text-align: center">
                <br/><button type="submit" class="btn btn-dark">Добавить</button>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
