@{
    ViewBag.Title = "Спсиок категорий";
    Layout = "_Layout";
}
<style>
    #dropdown1{
        display: block;
    }
    #dropdown1-li-5{
          margin-left: 15px;
            background: #9ad9ea;
    }
    #dropdown1-li-5 a{
                color: #262626;
                font-weight: 600;
                border-left: 2px solid #41728b;
    }
    #dropdown1-li-5 a:hover{
        color: #262626;
    }
 </style>
<div class="container" style="width: 90%; margin-bottom: 50px">
    <div class="modal answer-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body"><h5>Вы уверены?</h5></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary deleteCategory">Удалить</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Закрыть</button> 
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-categories">Список категорий</h2>
    <div style="overflow-x:auto;">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="vertical-align: middle; text-align: center" scope="col">Название</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Дата создание</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Дата редактирования</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Действие</th>
            </tr>
            </thead>
            <tbody id="result">
                
            </tbody>
        </table>
    </div>    
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
          $.get('@Url.Action("GetCategories", "Categories")', function(data) {
                $("#result").html(data);
          })
        });
        
        var deleteCategory = $(".deleteCategory");
        
        function openModal(id) {
            $(".modal").show();
            $(deleteCategory).attr("id", id);
        }
          
        function closeModal() {
            $(".modal").hide();
        }
        
        $(deleteCategory).click(function (event) {
            event.preventDefault();
            var id = deleteCategory.attr("id");
            $.ajax({
                url: '@Url.Action("Delete", "Categories")',
                type: "Delete",
                data: {
                    id: id
                },
                success: function(data) {
                  $(".modal").hide();
                  $("#result").html(data);
                }
            })
        });
    </script>
}
