<section id="about-us">
    <div class="d-flex">
        <div class="about-us-left">
            <div class="about-us-img-wrapper">
                <img class="about-us-img" src="~/images/SiteCardDefaultPath/about-us-img.jpg" alt="About us">
            </div>
        </div>
        <div class="about-us-right">
            <div class="order-box2-in">
                <h2>О нас</h2>
                <p style="font-size: 16px; color: #FF0000;margin-bottom: 20px;font-weight: 500;">Lorem ipsum.</p>
                <p style="margin-bottom: 20px; color: #646464; font-weight: 500;">@Model.RestaurantInformation</p>
            </div>
        </div>

    </div>
</section>

