@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}
<div class="login-block-register">
    <div class="col-md-9 block-register">
        <h2>Электронный адрес подтвержден</h2>
    </div>
</div>
