@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "_Layout";
}

<div class="login-block">
    <h1>Восстановление пароля</h1>
    <p>
        Ссылка на восстановление пароля отправлена на Ваш email.
    </p>
</div>