@model ForgotPasswordViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="login-block">
     <img src="~/images/Login/1.png">
     <h1>Восстановление пароля</h1>
     <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
             <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                 <input class="form-control" placeholder="Email" asp-for="Email">
             </div>
             <span asp-validation-for="Email"></span>
         </div>
         <hr class="hr-xs">
        <button class="btn btn-primary btn-block" type="submit">ОТПРАВИТЬ</button>
    </form>
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
