@model ResetPasswordViewModel

@{
    ViewBag.Title = "Сброс пароля";
    Layout = "_Layout";
}

<div class="login-block">
     <img src="~/images/Login/1.png">
     <h1>Введите новый пароль</h1>
     <form asp-action="ResetPassword">
         <div asp-validation-summary="All" class="text-danger"></div>
         <div class="form-group">
             <label asp-for="Password" class="control-label"></label>
             <input asp-for="Password" class="form-control" />
             <span asp-validation-for="Password" class="text-danger"></span>
         </div>
         <div class="form-group">
             <label asp-for="ConfirmPassword" class="control-label"></label>
             <input asp-for="ConfirmPassword" class="form-control" />
             <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
         </div>
         <input type="hidden" asp-for="Email" class="form-control" />
         <input type="hidden" asp-for="Token" class="form-control" />
         <button class="btn btn-primary btn-block" type="submit">ИЗМЕНИТЬ</button>
     </form>
</div>

