@model ResetPasswordViewModel

@{
    ViewBag.Title = "Сброс пароля";
    Layout = "_Layout";
}

<div class="login-block">
    <img src="~/images/Login/1.png">
    <h1>Введите новый пароль</h1>
    <form asp-action="ResetPassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                <input class="form-control" placeholder="Пароль" asp-for="Password">
                <span class="input-group-addon">
                    <a href="#" class="password-control"></a>
                </span>
            </div>
            <span asp-validation-for="Password"></span>
        </div>
        <hr class="hr-xs">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                <input class="form-control" placeholder="Подтвердите пароль" asp-for="ConfirmPassword">
                <span class="input-group-addon">
                    <a href="#" class="password-control"></a>
                </span>
            </div>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <hr class="hr-xs">
        <input type="hidden" asp-for="Email" class="form-control"/>
        <input type="hidden" asp-for="Token" class="form-control"/>
        <button class="btn btn-primary btn-block" type="submit">ИЗМЕНИТЬ</button>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script> 
        $('body').on('click', '.password-control', function(){
            if ($('#Password').attr('type') === 'password'){
                $('.password-control').addClass('view');
                $('#Password').attr('type', 'text');
                $('#ConfirmPassword').attr('type', 'text');
            } else {
                $('.password-control').removeClass('view');
                $('#Password').attr('type', 'password');
                $('#ConfirmPassword').attr('type', 'password');
            }
            return false;
         });
    </script>
  
}

