@model Booking
 
 @{
     ViewBag.Title = "Бронирование";
     Layout = "_Layout";
 }
 
 <style>
     #dropdown1{
             display: block;
     }
         #dropdown1-li-1{
         margin-left: 15px;
         background: #9ad9ea;
     }
     #dropdown1-li-1 a{
         color: #262626;
         font-weight: 600;
         border-left: 2px solid #41728b;
     }
     #dropdown1-li-1 a:hover{
         color: #262626;
     }
  </style>
 
 <div class="row" style="margin: 30px 0 80px 0">
     <div class="col-md-9 mt-5">
         <h2 class="create-dish">Бронирование стола</h2>
         <form asp-action="Create" method="post" enctype="multipart/form-data">
             <div class="form-group row">
                 <label for="" class="col-sm-4 col-form-label createMenuLabel">Стол</label><br/>
                 <div class="col-sm-8">
                     <select name="tableId" class="form-control">
                         @foreach (var t in ViewBag.Tables)
                         {
                             <option value="@t.Id">@t.Id</option>
                         }
                     </select>
                 </div>
                 <span class="validationError"></span>
             </div>
             <div class="form-group row">
                 <label for="" class="col-sm-4 col-form-label createMenuLabel">ФИО клиента</label><br/>
                 <div class="col-sm-8">
                     <input type="text" class="form-control" asp-for="ClientName">
                 </div>
                 <span class="validationError" asp-validation-for="ClientName"></span>
             </div>
             <div class="form-group row">
                 <label for="" class="col-sm-4 col-form-label createMenuLabel">Дата и время</label><br/>
                 <div class="col-sm-4">
                     <input style="font-size: 8px; margin-top: 5px" asp-for="DateTime" type="datetime-local" class="form-control" value="@DateTime.Now">
                 </div>
                 <span class="validationError" asp-validation-for="DateTime"></span>
             </div>
             <div class="form-group row">
                 <label for="" class="col-sm-4 col-form-label createMenuLabel">Комментарии</label><br/>
                 <div class="col-sm-8">
                     <textarea style="height: 150px; resize: none" asp-for="Comment" class="form-control"></textarea>
                 </div>
                 <span class="validationError" asp-validation-for="Comment"></span>
             </div>
             <div class="form-group row">
                 <label for="" class="col-sm-4 col-form-label createMenuLabel">Кол-во гостей</label><br/>
                 <div class="col-sm-8">
                     <input type="number" class="form-control" asp-for="Pax">
                 </div>
                 <span class="validationError" asp-validation-for="Pax"></span>
             </div>
             <div class="form-group row">
                 <label for="" class="col-sm-4 col-form-label createMenuLabel">Номер телефона</label><br/>
                 <div class="col-sm-8">
                     <input type="text" class="form-control" asp-for="PhoneNumber">
                 </div>
                 <span class="validationError" asp-validation-for="PhoneNumber"></span>
             </div>
             <div class="form-group row">
                 <label for="" class="col-sm-4 col-form-label createMenuLabel">Email</label><br/>
                 <div class="col-sm-8">
                     <input id="inputCost" type="text" class="form-control" asp-for="Email">
                 </div>
                 <span class="validationError" asp-validation-for="Email"></span>
             </div>
             
             <div style="text-align: center">
                 <br/><button type="submit" class="btn btn-dark">Добавить</button>
             </div>
         </form>
     </div>
 </div>
 @section Scripts
 {
     @{ 
         await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
 }

