@model Dish

@{
    ViewBag.Title = "Добавление блюда";
    Layout = "_Layout";
}
<style>
    #dropdown1{
            display: block;
    }
        #dropdown1-li-1{
        margin-left: 15px;
        background: #9ad9ea;
    }
    #dropdown1-li-1 a{
        color: #262626;
        font-weight: 600;
        border-left: 2px solid #41728b;
    }
    #dropdown1-li-1 a:hover{
        color: #262626;
    }
 </style>
<div class="row" style="margin: 30px 0 80px 0">
    <div class="col-md-8 mt-5">
        <h2 class="create-dish">Добавление блюда</h2>
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="" class="col-sm-5 col-form-label createDishLabel">Выберите категорию</label><br/>
                <div class="col-sm-7">
                    <select class="form-control" asp-for="CategoryId" id="category">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <span class="validationError" asp-validation-for="CategoryId"></span>
            </div>
            <div class="form-group row row createDishForm" id="result"></div>
            <div class="form-group row">
                <label for="" class="col-sm-5 col-form-label createDishLabel">Название блюда</label><br/>
                <div class="col-sm-7">
                    <input type="text" class="form-control" asp-for="Name">
                </div>
                <span class="validationError" asp-validation-for="Name"></span>
            </div>
            <div class="form-group row row createDishForm">
                <label for="" class="col-sm-5 col-form-label createDishLabel">Стоимость</label><br/>
                <div class="col-sm-7">
                    <input type="number" class="form-control" asp-for="Cost">
                </div>
                <span class="validationError" asp-validation-for="Cost"></span>
            </div>
            <div class="form-group row row createDishForm">
                <label for="" class="col-sm-5 col-form-label createDishLabel">Описание</label><br/>
                <div class="col-sm-7">
                    <textarea style="height: 150px; resize: none" asp-for="Description" class="form-control"></textarea>
                </div>
                <span class="validationError" asp-validation-for="Description"></span>
            </div>
            <div class="form-group row row createDishForm">
                <label for="" class="col-sm-5 col-form-label createDishLabel">Ингредиенты</label><br/>
                <div class="col-sm-7">
                    <textarea style="height: 100px; resize: none" asp-for="Ingredients" class="form-control"></textarea>
                </div>
                <span class="validationError" asp-validation-for="Ingredients"></span>
            </div>
            <div class="form-group row row createDishForm">
                <div class="col-sm-5" style="text-align: end">
                    <label for="myFIle" style="font-weight: 700" class="chous">Выберите файлы</label>
                    <input type="file"  id="myFIle" class="form-control my" asp-for="File" multiple="multiple"/>
                </div>
                <span class="validationError" asp-validation-for="File"></span>
            </div>
            <div class="form-group row row createDishForm">
                <label for="" class="col-sm-5 col-form-label createDishLabel">Калорийность</label><br/>
                <div class="col-sm-7">
                    <input type="number" class="form-control" asp-for="Calorie">
                </div>
                <span class="validationError" asp-validation-for="Calorie"></span>
            </div>
            <div class="form-group row row createDishForm">
                <label for="" class="col-sm-5 col-form-label createDishLabel">Правильное питание</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-control" asp-for="ProperNutrition" value="true">
                </div>
                <label for="" class="col-sm-5 col-form-label createDishLabel">Вегетарианское</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-control" asp-for="Vegetarian" value="true">
                </div>
            </div>
            <div style="text-align: center; margin-top: 40px">
                <br/><button type="submit" class="btn btn-dark">Опубликовать</button>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('.my').change(function() {
            if ($(this).val() != '') $(this).prev().text('Выбрано файлов: ' + $(this)[0].files.length);
            else $(this).prev().text('Выберите файлы');
        });
        
        $(document).ready(function() {
            getCreateDish();
        });
        
        $("#category").change(function() {
           getCreateDish();
        });
        
        function getCreateDish() {
            var category = $("#category").val();
            $.get(`@Url.Action("GetCreateDish")/${category}`, function(data) {
                $("#result").html(data);
            });
        }
    </script>
}