@{
    ViewBag.Title = "Управление меню";
    Layout = "_Layout";
}

<h2 class="text-menu">Меню</h2>
<div id="message">Не выбрано ни одного блюда</div>
<button type="button" class="btn btn-dark" id="delete">Удалить выбранное</button>
<button type="button" class="btn btn-dark" id="hide">Скрыть/Отображать выбранное</button>
<div class="modal answer-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body"><h5>Вы уверены?</h5></div>
      <div class="modal-footer">
          <button onclick="deleteDishes()" type="button" class="btn btn-primary button-delete">Удалить</button>
          <button onclick="hideDishes()" type="button" class="btn btn-primary button-hide">Скрыть/Отображать</button>
          <button type="button" class="btn btn-secondary" onclick="closeModal()">Закрыть</button> 
      </div>
    </div>
  </div>
</div>
<div style="overflow-x:auto;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th style="vertical-align: middle; text-align: center" scope="col">Изображение</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Наименование</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Стоимость</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Время добавления</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Время редактирования</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Видимость</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Действие</th>
        </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
          $.get('@Url.Action("GetDishes", "Dishes")', function(data) {
             $("#result").html(data);
          })
        })
        
        function deleteDishes() {
            var checkboxes = $("input:checkbox:checked");
            let arr = [];
            $.each(checkboxes, function (index, value) {
               arr.push(value.id);
            });
            $.ajax({
                url: "http://localhost:5000/Dishes/Delete",
                type: "Delete",
                data: {ids:arr},
                success: function (data) {
                    $("#result").html(data);
                    $(".modal").hide();
                }
            });   
        }
            
        $("#delete").click(function (event) {
            event.preventDefault();
            $(".button-delete").show();
            $(".button-hide").hide();
            var checkboxes = $("input:checkbox:checked");
            if (checkboxes.length > 0){
                $(".modal").show();
                $("#message").hide();
            }
            else{
                $("#message").show();
            }
        });
        
        function closeModal() {
            $(".modal").hide();
        }
        
        $("#hide").click(function (event) {
            event.preventDefault();
            $(".button-delete").hide();
            $(".button-hide").show();
            var checkboxes = $("input:checkbox:checked");
            if (checkboxes.length > 0){
                $(".modal").show();
                $("#message").hide();
            }
            else{
                $("#message").show();
            }
        });
        
        function hideDishes() {
            var checkboxes = $("input:checkbox:checked");
            let arr = [];
            $.each(checkboxes, function (index, value) {
                arr.push(value.id);
            });
            $.ajax({
                url: "http://localhost:5000/Dishes/Hide",
                type: "Put",
                data: {ids:arr},
                success: function (data) {
                    $("#result").html(data);
                    $(".modal").hide();
                }
            });
        }
    </script>
}
