@{
    ViewBag.Title = "Список акций";
    Layout = "_Layout";
}

<style>
    #dropdown1{
        display: block;
    }
    #dropdown1-li-7{
          margin-left: 15px;
            background: #9ad9ea;
    }
    #dropdown1-li-7 a{
                color: #262626;
                font-weight: 600;
                border-left: 2px solid #41728b;
    }
    #dropdown1-li-7 a:hover{
        color: #262626;
    }
 </style>
<div class="container" style="width: 90%; margin-bottom: 50px">
    <div class="modal answer-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body"><h5>Вы уверены?</h5></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary deleteStock">Удалить</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Закрыть</button> 
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-stocks">Список акций</h2>
    <div style="overflow-x:auto;">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="vertical-align: middle; text-align: center" scope="col">Изображение</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Название</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Тип</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Срок действия</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Действие</th>
            </tr>
            </thead>
            <tbody id="result">
                
            </tbody>
        </table>
    </div>    
</div>
@section Scripts
{
    <script >
        $(document).ready(function() {
            $.get('@Url.Action("GetStocks")', function(data) {
                $("#result").html(data);
            })
        })
    </script>
}
