@model Restaurant
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label asp-for="TotalNumberSeats">Количество мест</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="number" class="form-control" asp-for="TotalNumberSeats">
        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label asp-for="AvailableNumberSeats">Доступен</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="number" class="form-control" asp-for="AvailableNumberSeats" placeholder="Доступен для бронирования">
        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label asp-for="WorkSchedule">График работы ресторана</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <textarea asp-for="WorkSchedule" class="form-control"  rows="3"></textarea>
        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label asp-for="OrderConditions">Условия приема заказов и доставки</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <textarea asp-for="OrderConditions" class="form-control"  rows="3"></textarea>
        </div>
    </div>
</div>