@{
    ViewBag.Title = "Управление меню";
    Layout = "_Layout";
}

<h2 class="text-menu">Меню</h2>
<div id="message">Не выбрано ни одного блюда</div>
<button type="button" class="btn btn-dark" id="delete">Удалить выбранное</button>
<button type="button" class="btn btn-dark" id="hide">Скрыть/Отображать выбранное</button>
<div class="modal answer-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body"><h5>Вы уверены?</h5></div>
      <div class="modal-footer">
          <button onclick="deleteDishes()" type="button" class="btn btn-primary button-delete">Удалить</button>
          <button onclick="hideDishes()" type="button" class="btn btn-primary button-hide">Скрыть/Отображать</button>
          <button type="button" class="btn btn-secondary" onclick="closeModal()">Закрыть</button> 
      </div>
    </div>
  </div>
</div>
<div style="overflow-x:auto;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th style="vertical-align: middle; text-align: center" scope="col">Изображение</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Наименование</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Стоимость</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Описание</th>
            <th style="vertical-align: middle; text-align: center" scope="col">ПП</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Вег</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Видимость</th>
            <th style="vertical-align: middle; text-align: center" scope="col">Действие</th>
        </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
          $.get('@Url.Action("GetDishes", "Dishes")', function(data) {
             $("#result").html(data);
          })
        })
    </script>
}
