<style>
</style>
<div class="footer-in"  style="background-color: #151515; color: #ffffff;">
    <div class="container">
        <div style="padding: 92px 0 55px">
            <div class="block-footer-code-a62" >
                <div class="code-a62 code-a62-1">
                    <div>
                        <h3>О НАС</h3>
                        <div class="asd-54asdklln152">
                            <span >Мы стремимся производить как можно больше домашних продуктов для наилучшего качества и сокращать количество пищевых пирожных, традиционных девонских супов, соусов и других добавок. Мы стремимся производить как можно больше домашних продуктов для достижения наилучшего качества и сокращать количество пищевых тортов.</span>
                        </div>
                        <div>
                           <ul class="footer-social">
                               <li><a href="#" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fab fa-twitter"></i>
                               </a></li><li><a href="#" target="_blank">
                                  <i class="fab fa-google-plus-g"></i>
                               </a></li><li><a href="#" target="_blank">
                                  <i class="fab fa-instagram"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fab fa-vk"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fa fa-rss"></i>
                               </a></li>			
                               </ul>
                        </div>
                    </div>
                </div>
                <div class="code-a62 code-a62-2">
                    <div>
                        <h3>НЕДАВНИЕ ПОСТЫ</h3></div>
                </div>
                <div class="code-a62 code-a62-3">
                    <div>
                        <h3>МЫ ОТКРЫТЫ</h3></div>
                </div>
            </div>
            </div>
    </div>
</div>