<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light my-bg-white border-bottom box-shadow mb-3">
    <div class="container">
       <div class="navbar-collapse collapse d-sm-inline-flex ">
            <ul class="navbar-nav flex-grow-1 my-navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="">О компании</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="">FAQ</a>
                </li>
                <li class="nav-item">
                    @if (User.IsInRole(Convert.ToString(Roles.Registrant)))
                    {
                        <a class="nav-link text-white" asp-action="Index" asp-controller="Users">Личный кабинет</a>
                    }
                    else
                    {
                        <a class="nav-link text-white" >Личный кабинет</a>

                    }
                                                                                                    </li>
            </ul>
            </div>
    </div>
</nav>