@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Starkit.Models.Data
@inject StarkitContext _db;
@inject UserManager<User> _userManager;
@{
    var restaurantId = false;
    var userId = _userManager.GetUserId(User);
    if (User.IsInRole(Convert.ToString(Roles.SuperAdmin)))
    {
        var admin = await _db.Users.FirstOrDefaultAsync(u => u.Id == _userManager.GetUserId(User));
        userId = admin.IdOfTheSelectedRestaurateur;
        restaurantId = !string.IsNullOrEmpty(admin.IdOfTheSelectedRestaurateur);
    }
}
<ul class="edit-block1">
    @if(User.IsInRole(Convert.ToString(Roles.SuperAdmin)))
    {
        <div>
            <li class="nav-item my-dropdown">
                <a role="button" class="my-drop-btn-menu" onclick="showDropdown(0)" id="drop-btn-superAdmin">Панель администратора</a>
            </li>
            <div class="my-dropdown-menu" id="dropdown0">
                <li class="link-1" id="dropdown0-li-1"><a asp-action="Index" asp-controller="SuperAdmin">Список регистрантов </a></li>
                <li class="link-1" id="dropdown0-li-2"><a asp-action="Register" asp-controller="Account">Зарегистрировать нового регистранта </a></li>
            </div>
        </div>
    }
    @if(!User.IsInRole(Convert.ToString(Roles.SuperAdmin)) || restaurantId )
    {
        <div>
            <li class="nav-item my-dropdown">
                <a role="button" class="my-drop-btn-menu" onclick="showDropdown(1)" id="drop-btn-menu">МЕНЮ</a>
            </li>
            <div class="my-dropdown-menu" id="dropdown1">
            @if (User.IsInRole(Convert.ToString(Roles.SuperAdmin)) || User.IsInRole(Convert.ToString(Roles.Registrant)))
            {
                <li class="link-1" id="dropdown1-li-1"><a asp-action="Create" asp-controller="Menu">Добавить меню</a></li>
                <li class="link-1" id="dropdown1-li-2"><a asp-action="Create" asp-controller="Stocks">Добавить акцию</a></li>
            }
            <li class="link-1" id="dropdown1-li-3"><a asp-action="Create" asp-controller="Dishes">Добавить блюдо</a></li>
            <li class="link-1" id="dropdown1-li-4"><a asp-action="Create" asp-controller="Categories">Добавить категорию</a></li>
            <li class="link-1" id="dropdown1-li-5"><a asp-action="Create" asp-controller="SubCategories">Добавить подкатегорию</a></li>
            <li class="link-1" id="dropdown1-li-6"><a asp-action="Create" asp-controller="Tables">Добавить столик</a></li>
            <li class="link-1" id="dropdown1-li-7"><a asp-action="Create" asp-controller="Booking">Добавить бронирование</a></li>
            @if (User.IsInRole(Convert.ToString(Roles.SuperAdmin)) || User.IsInRole(Convert.ToString(Roles.Registrant)))
            {
                <li class="link-1" id="dropdown1-li-8"><a asp-action="Index" asp-controller="Stocks">Список акций</a></li>
            }
            <li class="link-1" id="dropdown1-li-9"><a asp-action="Index" asp-controller="Menu">Список меню</a></li>
            <li class="link-1" id="dropdown1-li-10"><a asp-action="Index" asp-controller="Dishes">Список блюд</a></li>
            <li class="link-1" id="dropdown1-li-11"><a asp-action="Index" asp-controller="Categories">Список категорий</a></li>
            <li class="link-1" id="dropdown1-li-12"><a asp-action="Index" asp-controller="SubCategories">Список подкатегорий</a></li>
            <li class="link-1" id="dropdown1-li-13"><a asp-action="Index" asp-controller="Tables">Список столов</a></li>
            <li class="link-1" id="dropdown1-li-14"><a asp-action="Index" asp-controller="Booking">Список брони</a></li>
            <li class="link-1" id="dropdown1-li-15"><a asp-action="Index" asp-controller="Orders">Список заказов</a></li>
            </div>
        </div>

        @if(User.IsInRole(Convert.ToString(Roles.SuperAdmin)) || User.IsInRole(Convert.ToString(Roles.Registrant)))
        {
            <div>
                <li class="nav-item my-dropdown">
                    <a role="button" class="my-drop-btn-menu" onclick="showDropdown(2)" id="drop-btn-prof">Управление аккаунтом</a>
                </li>
                <div class="my-dropdown-menu" id="dropdown2">
                    @if (User.IsInRole(Convert.ToString(Roles.Registrant)))
                    {
                        <li class="link-1" id="dropdown2-li-1"><a asp-action="Index" asp-controller="Users">Редактировать профиль</a></li>
                    }
                    <li class="link-1 " id="my-dr-ResInd"><a asp-action="Index" asp-controller="Restaurants">Ресторан</a></li>
                    @if (await _db.Users.AnyAsync(u => u.Id == userId && u.RestaurantId != null))
                    {
                        <li class="link-1 " id="dropdown2-li-3"><a asp-action="Create" asp-controller="Employees">Добавить сотрудника</a></li>
                        <li class="link-1 " id="dropdown2-li-4"><a asp-action="Index" asp-controller="Employees">Список сотрудника</a></li>
                    }
                </div>
            </div>
        }
    }
</ul>