<ul  class="edit-block1">
    <li class="link-1"><a asp-action="Index" asp-controller="Users">Редактировать профиль</a></li>
    <li class="link-1"><a asp-action="Create" asp-controller="Dishes">Добавить блюдо</a></li>
    <li class="link-1"><a asp-action="Create" asp-controller="Categories">Добавить категорию</a></li>
    <li class="link-1"><a asp-action="Create" asp-controller="SubCategories">Добавить подкатегорию</a></li>
    <li class="link-1"><a asp-action="Index" asp-controller="Dishes">Список блюд</a></li>
    <li class="link-1"><a asp-action="Index" asp-controller="Categories">Список категорий</a></li>
    <li class="link-1"><a asp-action="Index" asp-controller="SubCategories">Список подкатегорий</a></li>
</ul>