<ul  class="edit-block1">
    <li class="link-1"><a asp-action="Index" asp-controller="Users">Редактировать профиль</a></li>
    <li><a href="">text</a></li>
    <li><a href="">text</a></li>
    <li><a href="">text</a></li>
</ul>