<style>
</style>
<div class="footer-in"  style="background-color: #151515; color: #ffffff;">
    <div class="container">
        <div style="padding: 92px 0 55px">
            <div class="block-footer-code-a62" >
                <div class="code-a62 code-a62-1">
                    <div>
                        <h3>О НАС</h3>
                        <div class="asd-54asdklln152">
                            <span>Мы стремимся производить как можно больше домашних продуктов для наилучшего качества и сокращать количество пищевых пирожных, традиционных девонских супов, соусов и других добавок. Мы стремимся производить как можно больше домашних продуктов для достижения наилучшего качества и сокращать количество пищевых тортов.</span>
                        </div>
                        <div>
                           <ul class="footer-social">
                               <li><a href="#" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fab fa-twitter"></i>
                               </a></li><li><a href="#" target="_blank">
                                  <i class="fab fa-google-plus-g"></i>
                               </a></li><li><a href="#" target="_blank">
                                  <i class="fab fa-instagram"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fab fa-vk"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fa fa-rss"></i>
                               </a></li>			
                               </ul>
                        </div>
                    </div>
                </div>
                <div class="code-a62 code-a62-2">
                    <div>
                        <h3>НЕДАВНИЕ ПОСТЫ</h3></div>
                    <div class="media-ax">
                        <a href=""><img src="~/images/SiteCardDefaultPath/slide1-2-ok.jpg" alt=""></a>
                        <div class="media-ax-h4">
                            <h4>
                                <a href="">Курица-гриль с кока-колой и жареным чесноком</a>
                            </h4>
                            <p >12 июн, 2017</p>
                        </div>
                    </div>
                    <div class="media-ax">
                        <a href="">
                            <img src="~/images/SiteCardDefaultPath/slide1-2-ok.jpg" alt="">
                        </a>
                        <div class="media-ax-h4"><h4> <a href="">Курица барбекю с цветной капустой и жареным чесноком</a></h4>
                            <p >12 июн, 2017</p>
                        </div>
                    </div>
                    <div class="media-ax">
                        <a href=""><img src="~/images/SiteCardDefaultPath/slide1-2-ok.jpg" alt=""></a>
                          <div class="media-ax-h4">
                                                    <h4>
                                                        <a href="">Комбинированный набор Fried Grill Nun и Double Drinks Friends</a>
                                                    </h4>
                                                    <p >12 июн, 2017</p>
                                                </div>
                    </div>
                    
                </div>
                <div class="code-a62 code-a62-3">
                    <div>
                        <h3>МЫ ОТКРЫТЫ</h3></div>
                    <ul>
                        <li> <span class="sp1">Понедельник</span> <span class="sp2">10:00 - 21:00</span></li>
                        <li> <span class="sp1">Вторник</span> <span class="sp2">16:00 - До Середины Ночи</span></li>
                        <li> <span class="sp1">Среда</span> <span class="sp2">8.00 - 12.00</span></li>
                        <li> <span class="sp1">Четверг</span> <span class="sp2">Закрыто</span></li>
                        <li> <span class="sp1">Пятница</span> <span class="sp2">20:00 - 9:00</span></li>
                        <li> <span class="sp1">Суббота</span> <span class="sp2">17 Утра - 11 Вечера</span></li>
                        <li> <span class="sp1">Воскресенье</span> <span class="sp2">6:00 - 23:00</span></li>
                    </ul>
                    </div>
            </div>
            </div>
    </div>
</div>