<style>
</style>
<div class="footer-in"  style="background-color: #151515; color: #ffffff;">
    <div class="container">
        <div style="padding: 92px 0 55px">
            <div class="block-footer-code-a62" >
                <div class="code-a62 code-a62-1">
                    <div style="height: 250px;">
                        <div id="map"></div>
                        <div>
                           <ul class="footer-social">
                               <li><a href="#" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fab fa-twitter"></i>
                               </a></li><li><a href="#" target="_blank">
                                  <i class="fab fa-google-plus-g"></i>
                               </a></li><li><a href="#" target="_blank">
                                  <i class="fab fa-instagram"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fab fa-vk"></i>
                               </a></li><li><a href="#" target="_blank">
                                   <i class="fa fa-rss"></i>
                               </a></li>			
                               </ul>
                        </div>
                    </div>
                </div>
                <div class="code-a62 code-a62-2">
                    <div>
                        <h3>Адрес</h3></div>
                    <div class="media-ax">
                        <div class="media-ax-h4">
                            <h4>
                                <a id="ourAddress" href=""></a>
                            </h4>
                            <p id="ourCity"></p>
                        </div>
                    </div>
                </div>
                <div class="code-a62 code-a62-3">
                    <div>
                        <h3>МЫ ОТКРЫТЫ</h3></div>
                    <ul>
                        <li> <span class="sp1">Понедельник</span> <span class="sp2">10:00 - 21:00</span></li>
                        <li> <span class="sp1">Вторник</span> <span class="sp2">16:00 - До Середины Ночи</span></li>
                        <li> <span class="sp1">Среда</span> <span class="sp2">8.00 - 12.00</span></li>
                        <li> <span class="sp1">Четверг</span> <span class="sp2">Закрыто</span></li>
                        <li> <span class="sp1">Пятница</span> <span class="sp2">20:00 - 9:00</span></li>
                        <li> <span class="sp1">Суббота</span> <span class="sp2">17 Утра - 11 Вечера</span></li>
                        <li> <span class="sp1">Воскресенье</span> <span class="sp2">6:00 - 23:00</span></li>
                    </ul>
                    </div>
            </div>
            </div>
    </div>
</div>